

.h1{
    font-family: 'Montserrat-Black';
    size: 3rem;
    line-height: 4;


}  

.h2{
    font-family: 'Ubuntu', sans-serif;



}


.collapse{
    margin-left: 18rem;
}

.navbar{
    padding-top: 0;
    padding-bottom: 8rem;
    padding-right: 0;
    /* padding: 0 0 8rem; */
    padding-left: 0rem;

}

.title1{
    font-family: 'Montserrat';
    font-size: 3rem;
    color: white;
    font-weight: bold;
    line-height: 5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
    padding-right: 14rem;
    padding-top: 0rem;
    padding-left: 0;
}

.nav-item{
    padding: 6rem 4rem 7rem 4rem;
}



.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat';
}



body{
    font-family: 'Montserrat';
}

#title{
    background-color: #ff4c68;
}


.container-fluid{
    padding: 3% 15%;
}



.download-button{
    margin: 5% 3% 5% 0;
}

.title-image{
    width: 60%;
    transform: rotate(25deg);
    /* z-index: -1;
    position: absolute; */
}


.title{
    padding: 0 0 0 0;
}



.fa-check-circle{
    color: #fa9579;
    /* background-color: pink; */
    /* size: 9; */
    /* background-size: 5rem; */
}

.fa-bullseye{
    color: #fa9579;

    /* size: 9x; */
}

.fa-heart{
    color: #fa9579;

}

h3{
    /* font-family: 'montserrat-bold'; */
    font-family: 'Montserrat';

    font-weight: bold;
}

p{
    font-family: 'Montserrat';
    color: grey;
}


#features{
    padding: 10% 15% 6% 15%;
    /* position: absolute;
    z-index: 1; */
}

.feature-box{
    text-align: center;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.icon{
    padding-bottom: 1rem;
}


.icon:hover{
    color: #ff4c68;
}

#testimonials{
    /* padding: 7% 15%; */
    background-color: #fa9579;
    text-align: center;

}



.carousel-inner{
    padding: 7% 15%;


}

#press{
    background-color: #fa9579;
    text-align: center;



}

h2{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 4rem;
    line-height: 5rem;

}

.testimonial-text{
    color: aliceblue;


}

em{
    color: aliceblue;
    font-size: 1rem;
}

.dog1-img{
    width: 10%;
    border-radius: 100%;
    /* size: 4rem; */
    margin: 2rem;

}

.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 2rem;

}


.brands{
    padding: 0 2rem 4rem 0;
}



/* pricing section */

.price-title{
    padding-top: 10rem;
    padding-bottom: 2rem;
}

#pricing{
    /* padding: 7% 15%; */
    text-align: center;
    padding: 100px;

}


.card-body{
    padding: 2rem 2 rem;
    margin: 2rem 2 rem;
}

/* 
.h3-price-title{
    background-color: gray;
} */


/* .card{
    padding: 3rem 3rem;
} */


.row{
    padding-top: 4rem;
}



@media (max-width:1028px){
    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
    }
}



#cta{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 4rem;

}


.cta-heading{
    font-family: 'Montserrat';
    font-size: 3rem;
    color: white;
    font-weight: bold;
    line-height: 3rem;
    padding-top: 4rem;


}


#footer{
    text-align: center;
}

.contact-icon{
    padding-top: 6rem;
}

.icon2{
    padding-left: 1rem;
    padding-right: 1rem;
}

.copyright{
    padding-bottom: 4rem;
}